// vars
$acc: #14ACEF;
$w: #fff;
$b: #000;
$tr: transparent;

// font
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
$nu: 'Nunito';

html, body, #root{ height: 100%; width: 100%; }
body {
  font-family: $nu;
  margin: 0;
  background: darkgrey;
}

.react-dat-gui{ z-index: 1; }
.pos-relative{ position: relative; }
.css3D{  
  .ctn-point{ 
    img{ 
      position: absolute; top: 0; left: 0; 
      transition: all .1s;
      &:first-of-type{ opacity: 1; }
      &:last-of-type{ opacity: 0; }
    }
  }
  .line{
    // opacity: .7;
    // pointer-events: none;
    position: absolute;
    top: 13px;
    left: 12px;
    z-index: -1;
    height: 1px;
    width: 122px; 
    background: rgba($w, .8);    
    transform-origin: left center;
    transform: rotate(-43deg);
    transition: all .3s;
  }
  .name{
    opacity: .7;
    position: absolute;
    top: -100px; left: 100px;
    white-space: nowrap;
    cursor: pointer;
    padding: 5px 10px;
    background: rgba(#000, .8);    
    color: white;
    transition: all .3s;
    // font-size: 14px;
    &.active, &:hover{ 
      background: rgba(#A70300, 1);
      opacity: 1;
      transform: scale(1.1);
      ~.line{ 
        // width: 140px; 
        // transform: rotate(-45deg);
        background: rgba(#A70300, .8);
      }
      ~.ctn-point{
        img:first-of-type{ opacity: 0; }
        img:last-of-type{ opacity: 1; }
      }
    }
  }
  &.ann-build{
    &#ann0{ 
      .line{ transform: rotate(-49deg); }
      .name{ 
        left: 90px; top: -105px; 
        &:hover{ &~.line{ transform: rotate(-51deg); } }
      }
    }
    &#ann1{ 
      .line{ transform: rotate(-25deg); }
      .name{ 
        left: 122px; top: -65px; 
        &:hover{ &~.line{ transform: rotate(-26deg); } }
      }
    }
    &#ann2{ 
      .line{ transform: rotate(145deg); }
      .name{ 
        left: -162px; top: 80px; 
        &:hover{ &~.line{ transform: rotate(144deg); } }
      }
    }
    &#ann3{ 
      .line{ transform: rotate(43deg); }
      .name{ 
        left: 100px; top: 95px; 
        &:hover{ &~.line{ transform: rotate(44deg); } }
      }
    }
    &#ann4{ 
      .line{ transform: rotate(43deg); }
      .name{ 
        left: 100px; top: 95px; 
        &:hover{ &~.line{ transform: rotate(44deg); } }
      }
    }
    &#ann5{ 
      .line{ transform: rotate(-43deg); }
      .name{ 
        left: 100px; top: -97px; 
        &:hover{ &~.line{ transform: rotate(-44deg); } }
      }
    }
  }
  &.ann-react{
    &#ann0{ 
      .line{ transform: rotate(220deg); }
      .name{ 
        left: -170px; top: -96px; 
        &:hover{ &~.line{ transform: rotate(221deg); } }
      }
    }
    &#ann2{ 
      .line{ transform: rotate(145deg); }
      .name{ 
        left: -170px; top: 80px; 
        &:hover{ &~.line{ transform: rotate(144deg); } }
      }
    }
    &#ann3{ 
      .line{ transform: rotate(43deg); }
      .name{ 
        left: 100px; top: 95px; 
        &:hover{ &~.line{ transform: rotate(44deg); } }
      }
    }
  }
}

.ctn-buttons-bottom{
  position: fixed;
  bottom: 50px;
  left: 0;
  width: 100%;
  pointer-events: none;
  transition: all .5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  a{
    border-radius: 2px;
    background: rgba(#050719, .3);
    padding: 10px 15px;
    margin: 5px;
    pointer-events: auto;
    color: $w;
    border: 1px solid $tr;
    // font-weight: bold;
    text-decoration: none;
    &:hover, &.active{
      background: $w;
      color: $acc;
      border: 1px solid $acc;
    }
  }
}