@import '~rc-slider/assets/index.css';
@import '~rc-switch/assets/index.css';
@import '~nprogress/nprogress.css';

// font
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
$nu: 'Nunito';

// vars
$acc: #439BEA;
$w: #fff;
$b: #000;
$tr: transparent;

.flex-y{
  display: flex;
  flex-direction: column;
}

.flex-x{
  display: flex;
  flex-direction: row;
}

.cursor-pointer{ cursor: pointer; }
.align-items-center{ align-items: center; }
.space-between{ justify-content: space-between; }
.center{ justify-content: center; align-items: center; }
.fs{ justify-content: flex-start; }
.fe{ justify-content: flex-end; }
.pos-relative{ position: relative; }

// Position absolute mixin
@mixin pa($top:"", $left:"", $bottom:"", $right:"", $unit: "px") {
  position: absolute;
  @if $top != ""{
    top: #{$top}#{$unit};
  }
  @if $left != ""{
    left: #{$left}#{$unit};
  }
  @if $bottom != ""{
    bottom: #{$bottom}#{$unit};
  }
  @if $right != ""{
    right: #{$right}#{$unit};
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

html, body, #root{ height: 100%; width: 100%; }
body {
  font-family: $nu;
  margin: 0;
  background: darkgrey;
  overflow: hidden;
}

// Loading screen
#nprogress{
  position: relative;
  z-index: 4;
  .bar{
    background: $w; height: 5px;
  }
  .peg{
    box-shadow: 0 0 10px $w, 0 0 5px $w;
  }
  .spinner-icon{
    border-top-color: $w;
    border-left-color: $w;
  }
}
#overlay{
  // display: none;
  position: fixed;
  height: 100%; width: 100%; 
  background-image: url('/images/pattern-sm.png');
  background-color: $acc;
  left: 0; top: 0; z-index: 3;
  transition: all 1s;
  padding-top: 10vh;
  &.closed{ opacity: 0; visibility: hidden; z-index: 0; }
  .loader{ 
    height: 200px; 
    border-radius: 5px;
    box-shadow: 0 0 6px 1px rgba($b, .3);
  }
  h1{ 
    color: $w; 
    font-size: 3vw; 
    text-shadow: 1px 1px 3px $b;
  }
  .intro-parent{    
    position: relative;
    left: 1.25vw;
    justify-content: center;
    align-items: center;
    > div { width: 25vw; }

    .item-image{
      margin-bottom: 15px;
      .icon{ height: 50px; margin-right: 5px; }
      h2{ color: $w; margin: 0; text-shadow: 1px 1px 2px $b; }
    }
  }

  .button {
    --background: #2F3545;
    --shadow: 0 2px 8px -1px #{rgba(#151924, .32)};
    --shadow-hover: 0 4px 20px -2px #{rgba(#151924, .5)};
    --text: #fff;
    --font-size: 24px;
    --duration: .5s;
    --move-hover: -4px;
    margin-top: 2.5vh;
    padding: 12px 32px;
    font-family: $nu;
    font-weight: bold;
    line-height: var(--font-size);
    border-radius: 5px;
    display: block;
    outline: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: var(--font-size);
    letter-spacing: .5px;
    background: var(--background);
    color: var(--text);
    box-shadow: var(--shadow);
    transform: translateY(var(--y));
    transition: transform var(--duration) ease, box-shadow var(--duration) ease, opacity 1s ease;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
     opacity: 0; visibility: hidden; 
    div {
        display: flex;
        span {
            display: block;
            backface-visibility: hidden;
            font-style: normal;
            $i: 1;
            @while $i < 12 {
                &:nth-child(#{$i}) {
                    --d: #{$i / 20 + s};
                }
                $i: $i + 1;
            }
        }
    }
    &.smoke {
        --move: 12px;
        --move-y: -8px;
        --blur: 4px;
        &:hover {
            span {
                --duration: 1s;
                animation: smoke var(--duration) linear var(--d);
            }
        }
    }
    &.appear{ opacity: 1; visibility: visible; }
  }

  @keyframes smoke {
      45%,
      55% {
          filter: blur(var(--blur));
      }
      50%,
      50.1% {
          opacity: 0;
      }
      25%,
      75% {
          transform: translateX(0);
      }
      50% {
          transform: translateX(var(--move)) translateY(var(--move-y));
      }
      50.1% {
          transform: translateX(calc(var(--move) * -1));
      }
  }
}

// Main
.react-dat-gui{ z-index: 1; }
.btn-3d-toggle{
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 1;
  height: 40px;
  width: 40px;
  border: none;
  box-shadow: 0px 0px 5px 0 rgba(#000, .3);
  border-radius: 50%;
  transition: top .5s, left .5s;
  &:focus{ outline: none; }
  &:hover{
    div::before{
      animation: left-right .7s alternate infinite;
    }
  }
  // &.open{ top: 30px; left: 80px; }
  div{
    height: 2px;
    width: 100%;
    background: $acc;
    position: relative;
    &::before{ 
      content: "";
      position: absolute;
      top: -7px;
      left: 0;
      height: inherit;
      width: 60%;
      background: inherit;
    }
    &::after{ 
      content: "";
      position: absolute;
      top: 7px;
      left: 0;
      height: inherit;
      width: inherit;
      background: inherit;
    }
  }
}
@keyframes left-right{
  0%{ left: 0; }
  100%{ left: 10px; }
}

.canvas{
  filter: grayscale(0);
  transition: filter .5s;
  &.gray{ filter: grayscale(1); }
}
.css3D{
  .ctn-point{ 
    img{ 
      position: absolute; top: 0; left: 0; 
      transition: all .3s;
      &:first-of-type{ opacity: 1; }
      &:last-of-type{ opacity: 0; }
    }
  }
  .line{
    // opacity: .7;
    // pointer-events: none;
    position: absolute;
    top: 13px;
    left: 12px;
    z-index: -1;
    height: 1px;
    width: 122px; 
    background: rgba($w, .8);    
    transform-origin: left center;
    transform: rotate(-43deg);
    transition: all .3s;
  }
  .name{
    opacity: .7;
    position: absolute;
    top: -100px; left: 100px;
    white-space: nowrap;
    cursor: pointer;
    padding: 5px 10px;
    background: rgba(#000, .8);    
    color: white;
    transition: all .3s;
    // font-size: 14px;
    &.active, &:hover{ 
      background: rgba(#A70300, 1);
      opacity: 1;
      transform: scale(1.1);
      ~.line{ 
        // width: 140px; 
        // transform: rotate(-45deg);
        background: rgba(#A70300, .8);
      }
      ~.ctn-point{
        img:first-of-type{ opacity: 0; }
        img:last-of-type{ opacity: 1; }
      }
    }
  }
  &.ann-build{
    &#ann0{ 
      .line{ transform: rotate(-49deg); }
      .name{ 
        left: 90px; top: -110px; 
        &:hover{ &~.line{ transform: rotate(-51deg); } }
      }
    }
    &#ann1{ 
      .line{ transform: rotate(-25deg); }
      .name{ 
        left: 122px; top: -70px; 
        &:hover{ &~.line{ transform: rotate(-26deg); } }
      }
    }
    &#ann2{ 
      .line{ transform: rotate(145deg); }
      .name{ 
        left: -162px; top: 80px; 
        &:hover{ &~.line{ transform: rotate(144deg); } }
      }
    }
    &#ann3{ 
      .line{ transform: rotate(43deg); }
      .name{ 
        left: 100px; top: 95px; 
        &:hover{ &~.line{ transform: rotate(44deg); } }
      }
    }
    &#ann4{ 
      .line{ transform: rotate(43deg); }
      .name{ 
        left: 100px; top: 95px; 
        &:hover{ &~.line{ transform: rotate(44deg); } }
      }
    }
    &#ann5{ 
      .line{ transform: rotate(-43deg); }
      .name{ 
        left: 100px; top: -103px; 
        &:hover{ &~.line{ transform: rotate(-44deg); } }
      }
    }
  }
  &.ann-react{
    &#ann0{ 
      .line{ transform: rotate(220deg); }
      .name{ 
        left: -170px; top: -96px; 
        &:hover{ &~.line{ transform: rotate(221deg); } }
      }
    }
    &#ann2{ 
      .line{ transform: rotate(145deg); }
      .name{ 
        left: -170px; top: 80px; 
        &:hover{ &~.line{ transform: rotate(144deg); } }
      }
    }
    &#ann3{ 
      .line{ transform: rotate(43deg); }
      .name{ 
        left: 100px; top: 95px; 
        &:hover{ &~.line{ transform: rotate(44deg); } }
      }
    }
  }
}

.asset-list--wrapper{
  width: 350px;
  position: absolute;
  top: 90px; left: 30px;
  z-index: 2;
  transition: all .3s;
  &.closed{ left: -350px; }
  .asset-list--item{    
    padding: 12px 15px;
    color: $w;
    background: rgba(#050719, .3);
    margin-bottom: 15px;
    // border-radius: 2px;
    border-radius: .25rem;
    &.ctn-slider{ 
      width: 90%;
      padding: 15px 10px;
      padding-top: 30px;
      margin-right: 15px;
      >span{ 
        position: absolute; top: 0; left: 0;
        font-size: 13px;
        padding: 8px 10px;
      }
      .btn{ 
        display: flex;
        width: 35px;
        height: 24px;
        padding: 0;
        font-size: 20px;
        // border-radius: 50%;
        border: none;
        color: $acc;
        background: rgba($w, .7);
        transition: all .3s;
        &:focus{ outline: none; box-shadow: none; }
        &:hover{ background: rgba($w, 1); }
        &.ml-3{ margin-left: 10px; }
        &.mr-3{ margin-right: 10px; }
      }
    }
    &.ctn-switch{ 
      padding: 8px 10px;
      font-size: 13px;
      .rc-switch{
        margin: 9px 0;
        width: 36px;
        height: 16px;
        &:focus{ box-shadow: none; }
        &:after{ left: 0px; top: -2px; }
      }
      .rc-switch-checked{ 
        background: $acc;
        border-color: $acc;
        &:after{ left: 17px; }
      }
    }
  }
}
.asset-list-container {
  height: auto;
  background: rgba(#050719, .3);
  padding: 20px;
  border-radius: 2px;
  .asset-list--item{
    transition: background .3s;
    &.active, &:hover{
      // font-weight: bold;
      background: rgba(#A70300, .5); 
      .content{ height: 80px; }
    }
    &:last-of-type{ margin-bottom: 0; }
    .ctn-name img{ height: 15px; margin-right: 15px; }
    .content{ 
      height: 0px; padding-top: 5px; 
      overflow: hidden; 
      transition: height .3s; 
      font-size: 14px;
    }
  }
}

.ctn-buttons-bottom{
  position: fixed;
  bottom: 50px;
  left: 0;
  width: 100%;
  pointer-events: none;
  transition: all .3s ease-in-out;
  &.closed{ bottom: -50px; }
  a{
    border-radius: 2px;
    background: rgba(#050719, .3);
    padding: 10px 15px;
    margin: 5px;
    pointer-events: auto;
    color: $w;
    border: 1px solid $tr;
    // font-weight: bold;
    text-decoration: none;
    &:hover, &.active{
      background: $w;
      color: $acc;
      border: 1px solid $acc;
    }
  }
}

#ctn-about{
  @include pa(30, "", "", 30);
  z-index: 1;
  font-family: $nu;
  background: rgba($b, .3);
  padding: 15px;
  border-radius: 2px;
  color: $w;
  transition: all .3s;
  &.closed{ right: -350px; }
  h2{ margin: 6px 0; font-weight: 400; }
  div{
    line-height: 1.6;
    font-size: 18px;
    margin-bottom: 10px;
    a{ color: $w; &:hover{ text-decoration: none; } }
    & ~ a{ text-decoration: none; }
  }
  img{ 
    height: 25px; 
    margin-right: 10px;
    opacity: .8;
    transition: all .3s;
    &:hover{
      opacity: 1;
      transform: rotate(10deg) scale(1.25);
    }
  }
}