// vars
$acc: #14ACEF;
$w: #fff;
$b: #000;
$tr: transparent;

// font
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
$nu: 'Nunito';

.flex-y{
  display: flex;
  flex-direction: column;
}

.flex-x{
  display: flex;
  flex-direction: row;
}

.cursor-pointer{ cursor: pointer; }
.align-items-center{ align-items: center; }
.space-between{ justify-content: space-between; }